# external requirements
boto3==1.17.93
click==8.0.1
coverage==5.5
ezodf==0.3.2
google-cloud-secret-manager==2.5.0
Jinja2==3.0.1
jupyter==1.0.0
matplotlib==3.3.4
pandas==1.1.5
pathlib2==2.3.5
python-dotenv>=0.5.1
python-json-logger==2.0.1
requests==2.25.1
sphinx==4.0.2
sphinx-rtd-theme==0.5.2
